.board {
    background: #35353535;
    width: min(100%, 1230px);
    padding: 0 2.25rem;
    overflow-y: hidden;
    height: 85%;
    max-height: 35.25rem;
    display: grid;
}

.title {
    border-bottom: .125rem solid #151515;
    padding: 1.25rem 0;
    font-size: 2.85rem;
}

@media (min-width: 325px) {
    .title {
        font-size: 3.65rem;
    }
}

.items {
    overflow-y: scroll;
    display: grid;
}

.items::-webkit-scrollbar {
    width: 0;
}
