.item {
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .65rem;
}

.division {
    display: flex;
    flex-direction: column;
    font-size: 1.35rem;
    gap: .5rem;
}

.inputField {
    outline: none;
    border: none;
    background: #f5f5f555;
    padding: .35rem .55rem;
    font-size: 1.35rem;
    width: 100%;
    resize: none;
}

.block {
    display: flex;
    gap: .75rem;
}

.select {
    outline: none;
    border: none;
    background: #f5f5f555;
    padding: .35rem .55rem;
    font-size: 1.35rem;
    width: 15%;
}